html {
  background-color: #14213d;
}

body {
  margin: 0 auto;
  width: 960px;
  min-height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-wrapper {
  width: 100%;
  color: #e5e5e5;
}
